table.diamondsweeper-board td {
  padding: 0;
  border: 3px solid #c51162;
   }

.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  }
  .cell.diamond {
    background-image: url(/assets/diamond.png); 
  }
  .cell.arrow {
    background-image: url(/assets/arrow.png); 
    }
  .cell.unknown {
    background-image: url(/assets/question.png); 
   }

.messages{
 color:#5d4037; 
}

#score{
  color:#33691e; 
}

#gamename{
  text-align: center;
  color:#c51162;
  text-transform:uppercase;
}

@media only screen and (min-width: 1001px) {
  .cell {
    margin-left:25px;
  }
}

@media only screen and (min-width: 768px) and (max-width:1000px){
.cell {
  margin-left:20px;
}
}

#gamename{
  font-size:6vw;
}

.generalmessage{
  font-size:4vw;
}

.scorefont{
  font-size:3vw;
}